.position_Row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto;
}
.position_Row .position_box2{
    flex-grow: 999;
    flex-basis: 0;
    padding-left: 30px;
}
.position_Row .position_box1{
    flex-grow: 1;
    position: sticky;
    top: 50px;
    flex-basis: 300px;
    height: 450px;
    width: 150px;
    background: #ffffff;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    padding: 20px 15px;
}
.position_Row .position_box1 .position_box_heading{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding-top: 5px;
}

.position_Row .position_box1 .position_box_heading h4{
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
}
.position_Row .position_box2 .position_content{
    display: flex;
    flex-direction: column;
}
.position_Row .position_box2 .position_content .position_content_box{
    display: flex;
    padding: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
.position_Row .position_box2 .position_content .position_content_box .img_content_box{
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}

.position_Row .position_box2 .position_content .position_content_box .img_content_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.position_content_text_box{
    margin-left: 20px;
}

.facility_box h2{
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 71, 71);
}
.position_content_text_box{
    width: 50%;
}

@media screen and (max-width:991px) {
    .position_Row .position_box2 .position_content .position_content_box{
        flex-wrap: wrap;
    }
    .position_content_text_box, .position_Row .position_box2 .position_content .position_content_box .img_content_box{
        width: 100%;
    }
    .position_content_text_box{
        margin-left: 0;
    }
    
}

@media screen and (max-width:767px) {
    .position_Row .position_box1{
        position: unset;
    }
   
   
    .position_Row .position_box2{
        padding-left: 0;
    }

    .footer .footer_content:nth-child(2){
        padding-left: 0;
    }
    
}