.homeSwiper .homeSwiperSlide img{
    height: 550px;
    width: 100%;
}
.home_banner h1{
    color: brown !important;
}

.homeSwiper .swiper-button-prev,.homeSwiper .swiper-button-next{
    background: red;
    color: #fff;
}

.homeSwiper .swiper-button-prev::after,.homeSwiper .swiper-button-next::after{
    font-size: 15px;
}
.homeSwiper .homeSwiperSlide{
    position: relative;
}
.homeSwiper .homeSwiperSlide .addContent{
    position: absolute;
    top: 50%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background: hwb(0 41% 0% / 0.623);
    right: 100px;
    padding: 15px;
    backdrop-filter: blur(5px);
}

.homeSwiper .homeSwiperSlide .addContent h2,.homeSwiper .homeSwiperSlide .addContent p{
    color: #fff;
}



@media screen and (max-width:991px) {
    .homeSwiper .homeSwiperSlide img{
        height: auto;
    }
}


/*-------------------Category Part-------------------*/
.travl_category_box{
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 100;
    margin-top: -50px;
}

.travl_category_box .travl_sec_category{
    display: flex;
    gap: 15px;
}

.travl_category_box .travl_sec_category .category_box{
    width: 32%;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    backdrop-filter: blur(10px);
    transition: background .5s ease-in-out;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
}

.travl_category_box .travl_sec_category .category_box:hover{
    background: #fc4545;
    transition: background .5s ease-in-out;
}
.travl_category_box .travl_sec_category .category_box:hover p{
    color: #fff;
}
.travl_category_box .travl_sec_category .category_box:hover svg{
    color: #fff;
}
.travl_category_box .travl_sec_category .category_box svg{
    width: 100%;
    margin-bottom: 20px;
    font-size: 40px;
    color: #fc4545;

}

.travl_category_box .travl_sec_category .category_box p{
    text-align: left;
    color: #0000008c;
}


